.container {
  @include clearfix;
  padding: 0;

  h1 {
    color: $gray-dark;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    text-transform: uppercase;
  }
}

.block {
  @include border-radius;
  text-align: center;
  margin: 0 0 gutter(10);
}

h2 {
  color: $gray-dark;
  font-weight: 300;
}

h3 {
  color: $teal;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  @include span(12 of 12);
}

.one,
.two,
.three {
  background-color: $teal-light;
}

.four,
.five,
.six,
.seven,
.eight {
  background-color: $white;
}

.four,
.five {
  h2 {
    padding-top: 5px;
  }

  ul {
    text-align: left;
    list-style-type: none;
    margin: gutter(2);

    li {
      &.highlight {
        color: #E60061;
        font-weight: 700;
      }

      &.intend {
        margin-left: 13px;

        &.double {
          margin-left: 26px;
        }
      }
    }
  }
}

.eight {
  .gallery {
    @include clearfix;
    list-style-type: none;
    padding-bottom: gutter(6);

    .gallery-item {
      @include gallery(2 of 6);
      padding-top: gutter(6);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .one,
  .three {
    @include span(5 of 12);
  }

  .two {
    @include span(7 of 12 last);

    .six {
      @include span(3 of 6);
    }

    .seven {
      @include span(3 of 6 last);
    }
  }

}

@include breakpoint($breakpoint-desktop) {
  .one {
    @include span(3 of 12);
  }

  .two {
    @include span(6 of 12);

    .four {
      @include span(3 of 6);
    }

    .five {
      @include span(3 of 6 last);
    }

    .six {
      @include span(2 of 6);
      clear: both;
    }

    .seven {
      @include span(4 of 6 last);
    }

    .eight {
      @include span(6 of 6);
      clear: both;
    }
  }

  .three {
    @include span(3 of 12 last);
  }

}
